---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      $.getJSON("https://raw.githubusercontent.com/dhinakg/ktextrepo-beta/builds/config.json", function (data) {
          console.log(data);
          for (var key in data) {
              console.log(key);
              $("#product")[0].add(new Option(key, key));
          }
          $("#product").change(function() {
              $("#sha")[0].options.length = 0;
              $("#sha")[0].add(new Option("Select version...", "initial", true, true));
              if ($("#product").val() == "initial") {
                  return;
              }
              data[$("#product").val()]["versions"].forEach((element, index) => {
                  $("#sha")[0].add(new Option(element.commit.sha, index));
              });
          })
          $("#sha").change(function() {
              $(".info").empty()
              if ($("#product").val() == "initial" || $("#sha").val() == "initial") {
                  return;
              }
              $(".info").text(data[$("#product").val()]["versions"][$("#sha").val()]["release"]["description"])
          })
      })
  </script>
</article>