---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>

    <script>
        $.getJSON("https://raw.githubusercontent.com/dhinakg/ktextrepo-beta/builds/config.json", function (data) {
            var converter = new showdown.Converter()
            for (let key in data) {
                if (key.startsWith("_")) {
                    continue;
                }
                $("#product")[0].add(new Option(key, key));
            }
            $("#product").change(function () {
                $(".info").empty()
                $("#version")[0].options.length = 0;
                $("#version")[0].add(new Option("Select version...", "initial", true, true));
                if ($("#product").val() == "initial") {
                    return;
                }
                let versions = []
                data[$("#product").val()]["versions"].forEach((element, index) => {
                    if (versions.findIndex(x => x == element.version) === -1) {
                        versions.push(element.version);
                    }
                });
                versions.forEach((element, index) => {
                    $("#version")[0].add(new Option(element, element));
                })
            })
            $("#version").change(function () {
                $(".info").empty()
                $("#sha")[0].options.length = 0;
                $("#sha")[0].add(new Option("Select commit...", "initial", true, true));
                if ($("#product").val() == "initial" || $("#version").val() == "initial") {
                    return;
                }
                let shas = []
                data[$("#product").val()]["versions"].forEach((element, index) => {
                    if (element.version == $("#version").val()) {
                        shas.push([element, index]);
                    }
                });
                shas.forEach((element, index) => {
                    $("#sha")[0].add(new Option(element[0].commit.sha + (index == 0 ? " (latest)" : ""), element[1]));
                })
            })
            $("#sha").change(function () {
                $(".info").empty()
                if ($("#product").val() == "initial" || $("#version").val() == "initial" || $("#sha").val() == "initial") {
                    return;
                }
                let entry = data[$("#product").val()]["versions"][$("#sha").val()]
                $(".info").html(converter.makeHtml(entry["release"]["description"]))
                $(".info").append("<p><strong>Download Links:</strong></p>")
                if (entry.links.debug) {
                    let debug_link = $("<a>");
                    debug_link.attr("href", entry.links.debug);
                    debug_link.text("Download Debug");
                    $(".info").append($("<p>").append(debug_link))
                }
                if (entry.links.release) {
                    let release_link = $("<a>");
                    release_link.attr("href", entry.links.release);
                    release_link.text("Download Release");
                    $(".info").append($("<p>").append(release_link))
                }
                if (entry.extras) {
                    Object.keys(entry.extras).forEach(key => {
                        let extra_link = $("<a>");
                        extra_link.attr("href", entry.extras[key]);
                        extra_link.text("Download " + key);
                        $(".info").append($("<p>").append(extra_link))
                    })
                }
                let gh_release_link = $("<a>");
                gh_release_link.attr("href", entry.release.url);
                gh_release_link.text("View on GitHub Releases");
                $(".info").append("<br>");
                $(".info").append(gh_release_link)

                //$(".info").text()
            })
        })
    </script>
</article>