---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
  
  <script>
      $.getJSON("https://raw.githubusercontent.com/dhinakg/ktextrepo-beta/builds/config.json", function (data) {
          converter = new showdown.Converter()
          console.log(data);
          for (var key in data) {
              console.log(key);
              $("#product")[0].add(new Option(key, key));
          }
          $("#product").change(function() {
              $("#sha")[0].options.length = 0;
              $("#sha")[0].add(new Option("Select version...", "initial", true, true));
              if ($("#product").val() == "initial") {
                  return;
              }
              versions = []
              data[$("#product").val()]["versions"].forEach((element, index) => {
                  var index = versions.findIndex(x => x == element.version);
                  if (index === -1) {
                      versions.push(element.version);
                  }
                  $("#sha")[0].add(new Option(element.commit, index));
              });
              versions.forEach((element, index) => {
                $("#version")[0].add(new Option(element, index));
              })
          })
          $("#version").change(function() {
              $(".info").empty()
              if ($("#product").val() == "initial" || $("#sha").val() == "initial") {
                  return;
              }
              $(".info").text(data[$("#product").val()]["versions"][$("#sha").val()]["description"])
          })
          $("#sha").change(function() {
              $(".info").empty()
              if ($("#product").val() == "initial" || $("#sha").val() == "initial") {
                  return;
              }
              $(".info").html(converter.makeHtml(data[$("#product").val()]["versions"][$("#sha").val()]["release"]["description"]))
              //$(".info").text()
          })
      })
  </script>
</article>