name: Build
on:
  push:
    branches:
      - github-actions
  #schedule:
  #  - cron: '*/5 * * * *'
env:
  FORCE_INSTALL: 1
jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          persist-credentials: false
          ref: github-actions
      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python Dependencies
        run: |
          python3 -m pip install -U pip
          pip3 install hammock python-dateutil datetime termcolor
      - name: Copy Token
        run: echo ${{ secrets.GH_TOKEN }} > gh\ token.txt
      - name: Check Parallel
        run: python3 -u parallel_check.py
      - name: Send Notification
        run: |
          wget -P ~/ https://raw.githubusercontent.com/dhinakg/travis-ci-discord-webhook/master/send.sh
          chmod +x ~/send.sh
      - name: Install Build Dependencies
        run: |
          HOMEBREW_NO_INSTALL_CLEANUP=1 HOMEBREW_NO_AUTO_UPDATE=1 brew install acpica
      - name: Set Up Working Tree
        run: |
          git fetch origin builds:builds
          git worktree add Push builds
          cp Push/config.json .
          cp Push/last_updated.txt .
      - name: Check Ratelimit
        run: python3 -u check_ratelimit.py
      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v2
      - name: Run Builder
        run: python3 -u updater.py
      - name: Check Ratelimit
        run: python3 -u check_ratelimit.py
      - name: Sync Builds
        run: |
          mv config.json Push
          mv last_updated.txt Push
          rsync -a Builds/ Push/
          ls Push
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: builds
          FOLDER: Push

          
